<!--The content below is only a placeholder and can be replaced.-->
<div>
  <img  src="assets/imgs/logo.png" alt="">
  <img src="assets/imgs/star-wars.png" alt="">
  
  <h1>
    {{ title }} 
  </h1>
  <p class="characters">
    Characters
  </p>
  <p class="paragraph16">
    Star Wars es una franquicia compuesta primordialmente de una serie de peliculas concebidas por el cineasta estadounidense George Lucas
  </p>
  
  <button class="green" (click)="goBack()">SABER MÁS</button>
  
  <div>
    <span class="green-color font34"> . </span> <span class="red-color font34"> . </span> <span class="blue-color font34"> .
    </span> <span class="yellow-color font34"> . </span>
  </div>
  
  <div *ngIf="vaders">
    <img src="assets/{{vaders.image}}" alt="">
    <div class="casrw">{{vaders.name}} </div>
    
    <div class="casrw">
      Estatura<br>
      {{vaders.name}}
    </div>
    
    <div class="casrw">
      Planeta
      <br> {{vaders.homeworld}}
    </div>
    
    <div class="casrw">
      Naves
      <br>  
      <div *ngFor="let vader of vaders.starships">
        {{vader}}
      </div> 
    </div> 
    <a href="javascript:;">CONOCE MÁS <i name='right-arrow' type='solid'></i></a>
  </div>

  <div *ngIf="lukes">
    <img src="assets/{{lukes.image}}" alt="">
    <div class="casrw">{{lukes.name}} </div>
  
    <div class="casrw">
      Estatura
      <br> {{lukes.name}}
    </div>
  
    <div class="casrw">
      Planeta
      <br> {{lukes.homeworld}}
    </div>
  
    <div class="casrw">
      Naves
      <br>
      <div *ngFor="let luke of lukes.starships">
        {{luke}}
      </div>
    </div>
    <a href="javascript:;">CONOCE MÁS
      <i name='right-arrow' type='solid'></i>
    </a>
  </div>
  
</div> 
<router-outlet></router-outlet>
